<!DOCTYPE html>
<html lang="en">
<head>
    <meta style="color: white;" charset="UTF-8">
    <meta style="color: white;" name="viewport" content="width=device-width, initial-scale=1.0">
    <link style="color: white;" rel="stylesheet" href="galeria.css">
    <title style="color: white;">Galeria</title>
</head>
<body>

    <header>
        <h1 style="color: white;">Ryan Gosling</h1>
        <nav>
            <ul>
                <li style="color: white;"><a href="../index/index.html">Biografía</a></li>
                <li style="color: white;"><a href="../filmografia/filmografia.html">Filmografía</a></li>
                <li style="color: white;"><a href="#galeria">Imágenes</a></li>
            </ul>
        </nav>
    </header>

    <main class="galeria">
        <div  style="color: white;" class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div  style="color: white;" class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div  style="color: white;" class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div  style="color: white;" class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div style="color: white;" class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div style="color: white;" class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div style="color: white;" class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div style="color: white;" class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div style="color: white;" class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
        <div style="color: white;" class="imagen">
            <img src="" alt="Ryan Gosling" />
        </div>
    </main>

    <footer>
        <p>© 2020 Ryan Gosling</p>
    </footer>

</body>
</html>