<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="filmografia.css" />
    <title>Filmografía</title>
  </head>
  <body>
    <header>
      <h1 style="color: white;">Ryan Gosling</h1>
      <nav>
        <ul>
          <li><a href="../index/index.html">Biografía</a></li>
          <li><a href="#filmografia">Filmografía</a></li>
          <li><a href="../galeria/galeria.html">Imágenes</a></li>
        </ul>
      </nav>
    </header>
    <main class="cartelera">
      <div class="pelicula">
        <img src="" alt="The Believer" />
        <h3 style="color: white;">The Believer (2001)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="Murder by Numbers" />
        <h3 style="color: white;">Murder by Numbers (2002)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="The Slaughter Rule" />
        <h3 style="color: white;">The Slaughter Rule (2002)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="" />
        <h3 style="color: white;">The United States of Leland (2003)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="The Notebook" />
        <h3 style="color: white;">The Notebook (2004)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="Stay" />
        <h3 style="color: white;">Stay (2005)</h3>
      </div>

      <div class="pelicula">
        <img src="" alt="Half Nelson" />
        <h3 style="color: white;">Half Nelson (2006)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="Lars and the Real Girl" />
        <h3 style="color: white;">Lars and the Real Girl (2008)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="Blue Valentine" />
        <h3 style="color: white;">Blue Valentine (2010)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="All Good Things" />
        <h3 style="color: white;">All Good Things (2010)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="Crazy, Stupid, Love" />
        <h3 style="color: white;">Crazy, Stupid, Love (2011)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="Drive" />
        <h3 style="color: white;">Drive (2011)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="The Ides of March" />
        <h3 style="color: white;">The Ides of March (2011)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="Gangster Squad" />
        <h3 style="color: white;">Gangster Squad (2013)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="The Place Beyond the Pines" />
        <h3 style="color: white;">The Place Beyond the Pines (2013)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="Only God Forgives" />
        <h3 style="color: white;">Only God Forgives (2013)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="Lost River" />
        <h3 style="color: white;">Lost River (2014) - También director</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="The Big Short" />
        <h3 style="color: white;">The Big Short (2015)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="La La Land" />
        <h3 style="color: white;">La La Land (2016)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="Blade Runner 2049" />
        <h3 style="color: white;">Blade Runner 2049 (2017)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="First Man" />
        <h3 style="color: white;">First Man (2018)</h3>
      </div>
      <div class="pelicula">
        <img src="" alt="Barbie" />
        <h3 style="color: white;">Barbie (2022)</h3>
      </div>
    </main>
    <footer>
      <p>Derechos de autor © 2024. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
